.App {
    text-align: center;
    align-items: center;
    padding: 10vmin;
    background-color:   #1b047c ;
    min-height: 100vh;
  }



  form {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px 20px; /* row-gap column gap */
  }

  input[type=submit] 
  {
    width: 400px;
    height: 80px;
  }

  label {
    width: 400px;
    margin-bottom: 10px;
  }
  
  input {
    height: 20px;
    margin-left: 20px;
  }


  .postForm
  {
    padding-top: 4em;
    padding-bottom:6em;
    border: 4px black solid;
    text-align: center;
    align-items: center;
    background-color:   #1b047c ;
    color: white;
  }

  .flip-card {
    margin: 1em;
    background-color: transparent;
    width: 300px;
    height: 500px;
    perspective: 1000px;
  }

  .flip-card-front {
    background-color: #045de9;
    background-image: linear-gradient(315deg, #045de9 0%, #09c6f9 74%);
    color: black;
    border: 3px black solid;
    overflow: auto;
  }

  @media (max-width: 740px) 
    {
      .cards
      {
        --modifier: calc(70ch - 100%);
        display: flex;
        flex-wrap: wrap;
            }
      .flip-card
      {
        margin: 1em;
        background-color: transparent;
        width: 300px;
        height: 300px;
      }
      .image
      {
          max-width: 100%;
          min-height: 85%;
          width: auto;
          height: auto;
          object-fit: cover;
          object-position: 50% 50%;
      }
      
    }